html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline
}

a {
    text-decoration: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}
html{
    height: 100%;
}
body {
    line-height: 1;
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


.PageNavigation {
    margin-bottom: 25px
}

span.date {
    width: 75px;
    display: inline-block
}

li {
    line-height: 150%
}

hr {
    border: none;
    border-bottom: 1px solid #f1f1f1
}

body {
    color: #545454;
    background: #fbfbfb;
    font-family: "Inconsolata";
    font-size: 100%;
    font-weight: 400
}

h1 {
    margin-bottom: 5px;
    line-height: 120%
}

p {
    font-size: 1em;
    line-height: 150%;
    margin: 10px 0;
}

a {
    color: #1A0DAB;
    text-decoration: none
}

a:visited {
    color: #1A0DAB;
    text-decoration: none
}

a:hover {
    background-color: #eee;
    text-decoration: none
}

a:active {
    color: #1A0DAB;
    text-decoration: none
}

ul {
    list-style: none
}

ul li {
    padding-left: 10px
}

blockquote {
    color: #545454;
    border-left: 4px solid #545454;
    padding-left: 15px;
    font-size: 15px;
    padding: 5px 0 5px 15px !important;
}
blockquote p{
    font-size:14px !important;
}
.wrapper {
    margin-left: 300px;
    min-height: 100%;
    padding: 0 30px 60px 30px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    box-sizing:border-box;
}
.post__meta{
    font-size: 12px;
    padding: 15px 0;
    text-align:left;
}
.icon-time {
    position: relative;
    top: -1px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding:20px
    }
}

.float-wechat {
    display: none;
    position: fixed;
    left: 0;
    top: 0px;
    width: 180px
}
.article{
    max-width: 900px;
}
.article table tr td, .article table tr th{
    border: 1px solid #dfdfdf;
    text-align:left;
    padding: 5px;
}
.article table tr th{
    font-weight: bold;
    background: #f5f5f5;
    padding: 10px 5px;
}
.article table tr td{
    color:#666;
}
.article table tr:nth-child(odd){
    background:#fafafa;
}
.float-wechat>img {
    width: 100%
}

.float-wechat p {
    font-size: 14px;
    text-align: center;
    line-height: 20px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px
}

@media screen and (max-width: 600px) {
    .header {
        display:block
    }
}

.header h1 {
    font-size: 2em;
    margin-bottom: 0
}

.header ul {
    margin-top: 10px
}

.header ul li {
    display: inline;
    padding: 0;
    padding-left: 5px
}

.blog {
    padding-bottom: 30px
}

.blog h1 {
    font-size: 1.4em;
    margin-bottom: 5px
}

.music {
    padding-bottom: 30px
}

.music h1 {
    font-size: 1.4em;
    margin-bottom: 5px
}

.music a {
    padding: 5px;
    padding-left: 10px
}

.post {
    z-index: 100px;
    padding-bottom: 30px
}

.post__title {
    display: block;
    padding-top: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #f1f1f1
}

.post__title h1 {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 700;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: none
}

.post__date p {
    font-size: 1em;
    font-style: italic
}

.post__content {
    padding-top: 20px;
    word-wrap: break-word
}

.post__content h1 {
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px
}

.post__content h3 {
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 15px
}

.post__content h2 {
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 25px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px
}

.post__content p {
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 15px
}

.post__content li {
    line-height: 150%
}

.post__content a {
    padding-bottom: 1px;
    border-bottom: 1px solid #1A0DAB
}

.post__content a:hover {
    background-color: #eee;
    text-decoration: none
}

.post__content strong {
    font-weight: 700
}

.post__content em {
    font-weight: bold
}

.post__content ul {
    padding-left: 30px;
    font-size: 1em;
    list-style: circle
}

.post__content ul li {
    padding-left: 5px
}

@media screen and (max-width: 600px) {
    .post__content ul {
        margin-left:10px
    }
}

.post__content img {
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%
}

@media screen and (max-width: 600px) {
    .post__content img {
        width:100%;
        margin: auto
    }
}

.post__content code {
    padding: 3px;
    font-size: 0.9em;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ddd
}

.post__content pre {
    word-wrap: normal;
    line-height: 1.2rem;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 3px
}

.post__content pre code {
    background: none;
    border: none
}

.post__content .codebreak {
    margin: 15px;
    border: 0;
    border-bottom: 1px dashed #545454
}

.about__title {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px
}

.about__content {
    margin-top: 20px
}

.about__content h1 {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 5px
}

.about__content p {
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 10px
}

.content .block {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px
}

.content .block h2 {
    font-size: 1.4em;
    margin-bottom: 20px
}

.content .block b {
    font-weight: bold
}

.content .block p {
    margin-bottom: 15px
}

.content .block .table-of-content {
    padding-left: 40px
}

@media screen and (max-width: 500px) {
    .table-of-content {
        padding-left:0px !important
    }
}

.badge {
    position: relative;
    top: 4px;
    left: 5px
}

.margin-top-gap {
    margin-top: 40px
}

.margin-bottom-gap {
    margin-bottom: 40px
}

.share-block {
    text-align: center;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.share-block p {
    color: #000000;
    margin: 10px
}

.share-block .share-block-inner {
    width: 180px;
    margin: 0 auto
}

.wechat {
    width: 256px;
    height: 256px
}

#table-of-content {
    z-index: 1;
    position: fixed;
    top: 0px;
    background: #fff;
    width: 300px;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    left: 0px;
    transition: all 0.1s ease-out;
    border-right: 1px solid #f5f5f5;
    box-sizing: border-box;
    padding-top: 42px;
}
#table-of-content .btn_box{
    display: none;
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    text-align:left;
     padding: 5px;
     height: 42px;
     box-sizing: border-box;
     background: #fff;
     border-bottom: 1px solid rgba(0,0,0,.2);
     border-right: 1px solid rgba(0,0,0,.2);
}
#table-of-content .btn_box .btn-default{
    border: 1px solid #cccccc;
}



#table-of-content a:last-child {
    margin-bottom: 30px
}

#table-of-content h3 {
    margin: 20px 0 10px 0
}

#table-of-content a {
    display: block;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    align-items: center;
    padding:0 7px;
    height: 32px;
    line-height: 32px;
    color:#666;
    border-bottom:1px solid #f5f5f5;
}
#table-of-content a.btn {
    color:#333;
}
#table-of-content a:visited {
    color:#000;
}
#table-of-content a.active {
    background-color: #0773bf;
    color:#fff;
}


.donate-button {
    background-color: #e26d6d;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    border-color: #e26d6d;
    width: 80px;
    height: 36px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    border: none
}

.donate-mask {
    display: none;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.donate-mask img {
    width: 320px;
    flex: 0
}

.ad {
    background: url("/books/react/assets/img/ad-background.png");
    background-size: contain;
    display: block;
    position: relative;
    height: 120px;
    background-color: #fbfbfb;
    padding: 5px;
    border-radius: 5px
}

.ad-indicator {
    position: absolute;
    right: 6px;
    bottom: 6px;
    font-size: 12px;
    color: #666
}

.ad-logo {
    text-align: center;
    width: 140px;
    float: left;
    margin-top: 5px
}

.ad-logo img {
    width: 70px
}

.ad-title {
    font-size: 20px;
    font-weight: bold;
    color: #000
}

.ad-wording {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #555;
    font-size: 20px;
    font-weight: lighter;
    font-family: "PingFang SC", "Microsoft YaHei"
}

.ad-bg-2 {
    width: 100px;
    position: absolute;
    right: 10px;
    top: -20px;
    display: inline-block;
    opacity: 0.6
}

.edit_box{
    padding:0 0 15px 0;
}
.edit_box a{
    color: #fff;
}

.article ul li{
    list-style: disc;
}
.article p {
    color: #333;
    font-size: 15px;
    margin: 0 0 5px;
}
.article b, .article strong {
    font-weight: bold;
    color: #333;
    font-size: 15px;
}
code a{
    color:#fff;
}
code a:visited{
    color:#fff;
}


.hljs {
  display: block;
  overflow-x: auto;
  padding: 10px;
  background: #23241f;
}

.hljs {
    background: #313131;
    color: #d1d9e1;
  }
  
  
  .hljs-comment,
  .hljs-quote {
    color: #969896;
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-type,
  .hljs-addition {
    color: #cc99cc;
  }
  
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #f99157;
  }
  
  .hljs-string,
  .hljs-doctag,
  .hljs-regexp {
    color: #8abeb7;
  }
  
  .hljs-title,
  .hljs-name,
  .hljs-section,
  .hljs-built_in {
    color: #b5bd68;
  }
  
  .hljs-variable,
  .hljs-template-variable,
  .hljs-selector-id,
  .hljs-title.class_,
  .hljs-class .hljs-title {
     color: #ffcc66;
  }
  
  .hljs-section,
  .hljs-name,
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-subst,
  .hljs-meta,
  .hljs-link {
    color: #f99157;
  }
  
  .hljs-deletion {
    color: #dc322f;
  }
  
  .hljs-formula {
    background: #eee8d5;
  }
  
  .hljs-attr,
  .hljs-attribute {
    color: #81a2be;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  